body {
    background-color: lightgray;
}

ul {
    background-color: antiquewhite;
    list-style-type:circle;
    width: fit-content;
}

li {
    color: brown;
}

ol {
    background-color: black;
    width: fit-content;
}
ol li {
    color: aqua;
}